apiVersion: v1
kind: Service
metadata:
  name: flask-app-service
spec:
  type: NodePort  # Change this from LoadBalancer to NodePort
  selector:
    app: flask-app
  ports:
    - protocol: TCP
      port: 80
      targetPort: 5000
      nodePort: 30007  # Choose a port in the 30000-32767 range
